</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Created by Akash Kalme</p>
    <a href="#"><i class="fa-brands fa-github"></i></a>
    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i> </a>
  </div>
</div>
</body>
</html>
